body {
    width: 70vw;
    margin-left: 15vw;
    font-family: Arial;
    background-color: lightgray;
    color: black;
}

.mainblock {
    display: flex;
    flex-direction: column;
}

.AddBicycle {
    padding: 24px;
    padding-top: 5px;
    padding-bottom: 40px;
    background-color: rgb(192,192,192);
    display: flex;
    flex-direction: column;

}

.AddBicycleDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .AddBicycleDiv p {
        width: 28%;
    }


.BikeInfoAdd {
    width: 28%;
    height:100%;
}

.BikeInfoAdd input{
    width: 100%;
    height: 100%;
}


    .BikeInfoAdd input {
        width: 100%;
    }

.BikeInfoAddWithButton {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.BigInput{
    width:33%;
}

.SmallInput {
    width: 12.5%;
}

button {
    height: 40px;
    background-color: aquamarine;
    border: none;
    color:white;
}

    .AddBicycleDivInputs button {
        width:12.5%;
        height:40px;
        background-color: aquamarine;
        border: none;
        color: white;
    }



.AddBicycleDivInputs input{
    font-size:18px;
}

.AddBicycleDivInputs select {
    height: 40px;
}

.AddInput {
    height: 35px;
}